%table
  %tr
    %th Idle
    %th Pending
    %th Queued
    %th Performing
  %tr
    %td.ci-idle= Sim::Area.idle.count
    %td.ci-pending= Sim::Area.pending.count
    %td.ci-queued= Sim::Area.queued.count
    %td.ci-performing= Sim::Area.performing.count
