%h1 Realm
%h2= @realm.name

- unless realm_running?
  = link_to 'Start', start_admin_realms_path, method: :patch, remote: true
  //%button Start
- else
  = link_to 'Stop', stop_admin_realms_path, method: :patch, remote: true
  //%button Stop

- unless sidekiq_running?
  %p
    %strong WARN: Sidekiq is not running!

= render 'queues'
